.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# IDE
.idea/
*.iws
*.iml
*.ipr


*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


